{% extends "base.html" %}
{% block content %}

<div class="box">
    <h1>Register</h1>
    <form action="{{ url_for('register') }}" method="post">
        <input type="text" name="name" placeholder="Name" required="required" />
        <input type="email" name="email" placeholder="Email" required="required" />
        <input type="password" name="password" placeholder="Password" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large" data-bs-toggle="modal" data-bs-target="#simpleModal">Sign me up.</button>
    </form>
</div>
{% if message %}
    <div id="alert-message" class="alert alert-{{ alert_type }}" role="alert">
        {{ message }}
    </div>

    <script>
        // Set a timeout to hide the alert after 3 seconds (3000 milliseconds)
        setTimeout(function() {
            var alert = document.getElementById('alert-message');
            if (alert) {
                alert.style.display = 'none'; // Hide the alert
            }
        }, 3000);
    </script>
{% endif %}


{% endblock %}
